@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

body {
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 1.7;
}

a:link,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}

/* Flex Style Start */

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.justify-content-around {
  justify-content: space-around;
}

/* Flex Style End */

/* Display */

.d-none {
  display: none;
}

@media (min-width: 768px) {
  .d-lg-block {
    display: block;
  }

  .d-lg-none {
    display: none;
  }
}

/* Display */

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
.container {
  max-width: 1140px;
  margin: 0 auto;
}
}

@media (min-width: 992px) {
.container {
  max-width: 960px;
  margin: 0 auto;
}
}

#header {
background-color: blue;
color: white;
}

/* Button Styles */

.btn {
  color: white;
  border: none;
  cursor: pointer;
}

.btn-header {
  padding: .7rem 2rem;
  font-size: 1.8rem;
  background-color: crimson;

  /* Add Keyframes for Animation */
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

.btn-header:hover {
  transform: translateY(-.3rem);

  /* Box Shadow */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
}

.btn-header:active {
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.btn-navbar-toggler {
  padding: 5px;
  background-color: transparent;
}